.test-component__button {
    width: 95px;
    height: 35px;
    box-sizing: border-box;
    border: none;
    border-radius: 10px;
    font-family: 'Montserrat';
    font-weight: 600;
    cursor: pointer;
    outline: none;
}

.test-component-btn__txt {
    color: #fff;
    text-decoration: none;
}

.test-component-btn__txt:hover {
    text-decoration: underline;
}

.test-component-btn__txt:active {
    color: #e8e8e8;
}