.App {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  padding: 50px;
  background-color: #FAFAFA;
  font-family: 'Montserrat';
}

.app__title {
  font-weight: 600;
  font-size: 26px;
}

.app__props {
  width: 100%;
  display: flex;
}

.no-results {
  width: 100%;
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.no-results__title {
  font-size: 20px;
}

.no-results-btn {
  width: 95px;
  height: 35px;
  background-color: #2EE5AC;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 30px;
}

.no-results-btn__txt {
  color: #fff;
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 600;
}

.no-results-btn__txt:hover {
  text-decoration: underline;
}

.no-results-btn__txt:active {
  color: #e8e8e8;
}